on:
  workflow_call:

jobs:
  test:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Restore Workload
      run: dotnet workload restore ${{ vars.UNIT_TEST_PROJECTS }} ${{ vars.INTEGRATION_TEST_PROJECTS }}
    - name: Unit Tests
      run: dotnet test ${{ vars.UNIT_TEST_PROJECTS }} --framework net10.0
    - name: Integration Tests
      run: dotnet test ${{ vars.INTEGRATION_TEST_PROJECTS }}
